name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26'

      - name: Setup environment
        run: |
          go mod download
          go mod tidy

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: latest

      - name: Run Unit Tests
        run: go test -v ./...

      - name: Run Integration Tests
        run: go test -tags=integration -v ./...

      - name: Run E2E Tests
        run: go test -v ./test/e2e/...

      # - name: Upload Code Coverage
      #   uses: codecov/codecov-action@v4
      #   with:
      #     file: ./coverage.txt
      #     fail_ci_if_error: true
